# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.blend binary
*.glb binary
*.gltf binary
*.bin binary
*.mbb binary
*.mbex binary

# Godot-specific binary files
*.tscn binary
*.scn binary
*.tres binary
*.res binary
*.godot binary
